In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data.csv")
df.head()

C:\Users\Connor\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
1,37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
2,37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN
3,37404330,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07T00:00:00.000Z,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0,30,NaN
4,37404308,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN

In [3]:
# Check for duplicates
df = df.drop('Id', axis=1)
df.duplicated().sum()

8607

In [4]:
# Remove Duplicates
df = df.drop_duplicates()
df.duplicated().sum()

0

In [5]:
# Remove columns that wont be used in analysis
df = df.drop(['Title', 'Requirement', 'FullDescription'], axis=1)
df.head()

,Company,Date,Location,Area,Classification,SubClassification,LowestSalary,HighestSalary,JobType
0,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,0,30,NaN
1,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,0,30,NaN
2,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,0,30,NaN
3,Anaconda Group Pty Ltd,2018-10-07T00:00:00.000Z,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,0,30,NaN
4,Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,0,30,NaN

In [6]:
# Check for null values
df.isnull().sum()

Company               11928
Date                      0
Location             113577
Area                 187763
Classification       113577
SubClassification    113577
LowestSalary              0
HighestSalary             0
JobType               15517
dtype: int64

In [7]:
# Remove entries with null values for critical columns
df = df.dropna(subset=['Date', 'Location', 'Classification', 'SubClassification', 'LowestSalary', 'HighestSalary'])
df.isnull().sum()

Company               7397
Date                     0
Location                 0
Area                 74186
Classification           0
SubClassification        0
LowestSalary             0
HighestSalary            0
JobType              11384
dtype: int64

In [8]:
print(df.shape)
print(df.dtypes)

(196293, 9)
Company              object
Date                 object
Location             object
Area                 object
Classification       object
SubClassification    object
LowestSalary          int64
HighestSalary         int64
JobType              object
dtype: object

In [9]:
df['Date']= pd.to_datetime(df['Date'])

In [10]:
print(df.dtypes)

Company                           object
Date                 datetime64[ns, UTC]
Location                          object
Area                              object
Classification                    object
SubClassification                 object
LowestSalary                       int64
HighestSalary                      int64
JobType                           object
dtype: object

In [16]:
# Create extra column with average salary (combined lowest/highest)
df['AverageSalary'] = df[['LowestSalary','HighestSalary']].mean(axis=1)

# Create extra column with salary range (highest-lowest)
df['RangeSalary'] = df['HighestSalary'] - df['LowestSalary']

In [ ]:
df.hist(column='AverageSalary')

In [12]:
# Group dataset by location and find mean lowest/highest salary + count (for total job listings)
df_loc = df.groupby('Location').agg(['mean', 'count'])

In [13]:
# Count total number of jobs at each location
df_loc['AverageSalary']['count'].sort_values(ascending=False)

Location
Sydney                                  60462
Melbourne                               46483
Brisbane                                21350
Perth                                   13161
Adelaide                                 6611
ACT                                      6207
Newcastle, Maitland & Hunter             3941
Gold Coast                               3581
South West Coast VIC                     1785
Mackay & Coalfields                      1699
Wollongong, Illawarra & South Coast      1650
Port Hedland, Karratha & Pilbara         1648
Sunshine Coast                           1554
Cairns & Far North                       1499
Northern QLD                             1487
Gosford & Central Coast                  1338
Toowoomba & Darling Downs                1308
Darwin                                   1251
Hobart                                   1045
Blue Mountains & Central West             934
Kalgoorlie, Goldfields & Esperance        867
Lismore & Far North Coast                 813
Bendigo, Goldfields & Macedon Ranges      805
Wagga Wagga & Riverina                    801
Mornington Peninsula & Bass Coast         734
Rockhampton & Capricorn Coast             720
Gladstone & Central QLD                   708
Dubbo & Central NSW                       639
Bunbury & South West                      631
Tamworth & North West NSW                 609
                                        ...
Port Macquarie & Mid North Coast          468
Southern Highlands & Tablelands           464
Coffs Harbour & North Coast               438
Albury Area                               415
Bundaberg & Wide Bay Burnett              408
Launceston & North East                   387
Bairnsdale & Gippsland                    375
Geraldton, Gascoyne & Midwest             338
Mildura & Murray                          307
Alice Springs & Central Australia         301
Hervey Bay & Fraser Coast                 282
Broome & Kimberley                        279
Devonport & North West                    256
Mandurah & Peel                           250
Horsham & Grampians                       209
Whyalla & Eyre Peninsula                  201
Far West & North Central NSW              196
Adelaide Hills & Barossa                  193
Katherine & Northern Australia            184
Mt Gambier & Limestone Coast              167
Northam & Wheatbelt                       158
Albany & Great Southern                   149
Riverland & Murray Mallee                 146
Richmond & Hawkesbury                     140
Coober Pedy & Outback SA                  108
Yorke Peninsula & Clare Valley             94
Tumut, Snowy & Monaro                      86
Somerset & Lockyer                         65
Fleurieu Peninsula & Kangaroo Island       64
Central & South East TAS                   57
Name: count, Length: 65, dtype: int64

In [14]:
# Average salary for each location
df_loc['AverageSalary']['mean'].sort_values(ascending=False)

Location
ACT                                     142.680119
Port Macquarie & Mid North Coast        110.806624
Sydney                                  103.278687
Geraldton, Gascoyne & Midwest           101.887574
Western QLD                             101.743191
Tumut, Snowy & Monaro                   100.319767
Port Hedland, Karratha & Pilbara         99.532767
Katherine & Northern Australia           97.282609
Kalgoorlie, Goldfields & Esperance       96.062860
Darwin                                   94.444444
Brisbane                                 93.612810
Bundaberg & Wide Bay Burnett             92.924020
Broome & Kimberley                       92.363799
Perth                                    92.067054
Mackay & Coalfields                      91.760447
Dubbo & Central NSW                      91.726135
Far West & North Central NSW             90.089286
Coober Pedy & Outback SA                 89.898148
Mildura & Murray                         89.729642
Rockhampton & Capricorn Coast            89.286806
Melbourne                                89.020448
Alice Springs & Central Australia        88.916944
Northern QLD                             86.675521
Tamworth & North West NSW                85.776683
Gladstone & Central QLD                  85.483051
Blue Mountains & Central West            84.852784
Newcastle, Maitland & Hunter             80.859427
Mt Gambier & Limestone Coast             80.038922
Lismore & Far North Coast                79.482780
Albany & Great Southern                  79.345638
                                           ...
West Gippsland & Latrobe Valley          75.118881
Hobart                                   75.033971
Cairns & Far North                       74.409273
Horsham & Grampians                      74.318182
Mandurah & Peel                          73.230000
Wollongong, Illawarra & South Coast      72.692727
Gosford & Central Coast                  71.521300
Launceston & North East                  70.465116
Devonport & North West                   70.378906
Wagga Wagga & Riverina                   70.134207
Whyalla & Eyre Peninsula                 69.990050
Shepparton & Goulburn Valley             68.721667
Ballarat & Central Highlands             68.711794
Sunshine Coast                           68.252574
Toowoomba & Darling Downs                67.142584
Gold Coast                               66.360514
Bunbury & South West                     65.570523
South West Coast VIC                     65.258824
Southern Highlands & Tablelands          65.012931
Northam & Wheatbelt                      64.550633
Richmond & Hawkesbury                    63.421429
Albury Area                              63.392771
Yorke Peninsula & Clare Valley           62.010638
Central & South East TAS                 60.000000
Bendigo, Goldfields & Macedon Ranges     59.711180
Mornington Peninsula & Bass Coast        58.860354
Riverland & Murray Mallee                56.746575
Yarra Valley & High Country              56.557114
Adelaide Hills & Barossa                 55.069948
Fleurieu Peninsula & Kangaroo Island     50.546875
Name: mean, Length: 65, dtype: float64