In [52]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [58]:
df = pd.read_csv('movies-utf8.csv')
df.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [59]:
listGen = set()
for (columnName, columnData) in df.iteritems():
    if columnName != 'genres':
        continue
    for genres in columnData.values:
        if isinstance(genres, str):
            genres = genres.split('|')
            for genre in genres:
                listGen.add(genre)
print(listGen)

{'Animation', 'Adventure', "Children's", 'Drama', 'Romance', 'Action', 'Documentary', 'Musical', 'Comedy', 'War', 'Horror', 'Thriller', 'Sci-Fi', 'Fantasy', 'Crime'}

In [62]:
gen_list = []
df['genres'] = df['genres'].replace(np.nan, '', regex=True)

def split_gen(gen_string):
    if isinstance(gen_string, str):
        return gen_string.split('|')
    else:
        return gen_string
    
df['genres'].map(lambda x: gen_list.append(split_gen(x)))
df['gen_list'] = gen_list

In [66]:
M = gen_list

M_G = [[1 if genre in sublist else 0 for genre in listGen] for sublist in M]

print(M_G[:4])

[[1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0], [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0], [0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0], [0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0]]